<template>
  <q-page class="q-pa-md">
    <!-- เพิ่ม / แก้ไขข้อมูลลูกค้า POPUP -->
    <q-dialog v-model="showAddUserPopup" persistent class="absolute-center">
      <div class="bg-white">
        <div class="text-h5 bg-appbar text-white" align="center">
          <span v-if="isAddUser">เพิ่มลูกค้า</span>
          <span v-else>แก้ไขผู้ใช้งาน</span>
        </div>
        <div class="row q-pa-md justify-center">
          <div class="col-12 row">
            <!-- Display Delete Button If in Edit Mode -->
            <div class="col-12 q-pa-sm" align="right" v-if="!isAddUser">
              <q-btn @click="deleteUser()" flat icon="fas fa-trash" color="red" label="ลบข้อมูล"></q-btn>
            </div>
            <!-- Name -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                :rules="[val => !!val || 'กรุณากรอกข้อมูล']"
                label="ชื่อ"
                v-model="userObj.name"
                filled
                ref="name"
              ></q-input>
            </div>
            <!-- Surname -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                :rules="[val => !!val || 'กรุณากรอกข้อมูล']"
                label="นามสกุล"
                v-model="userObj.surname"
                filled
                ref="surname"
              ></q-input>
            </div>
            <!-- Username -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                :rules="[val => !!val || 'กรุณากรอกข้อมูล']"
                label="Username"
                :readonly="!isAddUser"
                v-model="userObj.username"
                filled
                ref="username"
              ></q-input>
            </div>
            <!-- Money -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                type="number"
                :rules="[val => val >=0 || 'หากไม่ระบุให้กรอก 0 ']"
                label="ยอดเงิน"
                v-model.number="userObj.money"
                filled
                ref="money"
              ></q-input>
            </div>
            <!-- Bank Account -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                :rules="[val => val.length >= 10  || 'กรุณาตรวจสอบเลขบัญชี']"
                label="เลขบัญชี"
                v-model="userObj.bankAccount"
                filled
                ref="bankaccount"
              ></q-input>
            </div>
            <!-- Bank Name -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-select
                ref="bankname"
                :options="bankOptions"
                label="ธนาคาร"
                v-model="userObj.bank"
                filled
              ></q-select>
            </div>
            <!-- ID แนะนำ -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input label="Username ผู้แนะนำ" v-model="userObj.advisor" filled></q-input>
            </div>
            <!-- % ให้ผู้แนะนำ -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                v-show="userObj.advisor.length > 0"
                type="number"
                :rules="[val => val >= 0 && val <= 100 || '0-100%']"
                label="% ให้ผู้แนะนำ"
                v-model="userObj.percent"
                filled
              ></q-input>
            </div>
          </div>
          <div class="col-12 row">
            <!-- Cancle Button -->
            <div class="col-6 q-pt-md" align="center">
              <q-btn
                :disable="disableAddUser"
                @click="calcelAddUser()"
                label="ยกเลิก"
                class="bg-cancle text-white"
                style="width:90%"
              ></q-btn>
            </div>
            <!-- Confirm Button -->
            <div class="col-6 q-pt-md" align="center">
              <q-btn
                :disable="disableAddUser"
                @click="addUser()"
                label="บันทึก"
                class="bg-appbar text-white"
                style="width:90%"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </q-dialog>

    <!-- เติมเงิน -->
    <q-dialog v-model="isShowTopUp" persistent class="absolute-center">
      <div class="bg-white">
        <div class="text-h5 bg-appbar text-white" align="center">เติมเงิน</div>
        <div class="row q-pa-md justify-center">
          <div class="col-12">
            <q-input type="number" v-model.number="topUpMoney" label="เติมเงิน"></q-input>
          </div>

          <div class="col-12 row justify-center">
            <div class="col-6">
              <q-radio v-model="topUpMode" val="0" label="เติมเงิน" />
            </div>
            <div class="col-6">
              <q-radio v-model="topUpMode" val="1" label="เติมโปร" />
            </div>
          </div>
          <div class="col-12 row">
            <!-- Cancle Button -->
            <div class="col-6 q-pt-md" align="center">
              <q-btn
                :disable="disableTopup"
                @click="cancelTopUp()"
                label="ยกเลิก"
                class="bg-cancle text-white"
                style="width:90%"
              ></q-btn>
            </div>
            <!-- Confirm Button -->
            <div class="col-6 q-pt-md" align="center">
              <q-btn
                :disable="disableTopup"
                @click="topUp()"
                label="บันทึก"
                class="bg-appbar text-white"
                style="width:90%"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </q-dialog>

    <!-- ถอนเงิน -->
    <q-dialog v-model="isShowWithDraw" persistent class="absolute-center">
      <div class="bg-white">
        <div class="text-h5 bg-appbar text-white" align="center">ถอนเงิน</div>
        <div class="row q-pa-md justify-center">
          <div class="col-12">
            <q-input type="number" v-model.number="withDrawMoney" label="ถอนเงิน"></q-input>
          </div>

          <div class="col-12 row justify-center">
            <div class="col-6">
              <q-radio v-model="withDrawMode" val="0" label="ถอนเงิน" />
            </div>
            <div class="col-6">
              <q-radio v-model="withDrawMode" val="1" label="ถอนโปร" />
            </div>
          </div>

          <div class="col-12 row">
            <!-- Cancle Button -->
            <div class="col-6 q-pt-md" align="center">
              <q-btn
                :disable="disableWithdraw"
                @click="cancelWithdraw()"
                label="ยกเลิก"
                class="bg-cancle text-white"
                style="width:90%"
              ></q-btn>
            </div>
            <!-- Confirm Button -->
            <div class="col-6 q-pt-md" align="center">
              <q-btn
                :disable="disableWithdraw"
                @click="withdraw()"
                label="บันทึก"
                class="bg-appbar text-white"
                style="width:90%"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </q-dialog>

    <!-- ลิสท์ การเติมเงิน - ถอนเงิน -->

    <q-dialog v-model="showCustomerBankAccount">
      <div class="bg-white">
        <div class="row q-pa-md q-col-gutter-sm">
          <div class="col-6">
            <q-select
              @input="loadAccountList()"
              :options="monthOptions"
              v-model="summaryMonth"
              label="เดือน"
            ></q-select>
          </div>
          <div class="col-6">
            <q-select
              @input="loadAccountList()"
              :options="yearOptions"
              v-model="summaryYear"
              label="ปี"
            ></q-select>
          </div>
        </div>
        <q-table
          title="รายการบัญชี"
          v-if="showCustomerBankAccount"
          :pagination.sync="pagination"
          separator="cell"
          :data="customerAccountList"
          :columns="accountColumns"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td align="right" key="type">{{ props.row.type }}</q-td>
              <q-td align="right" key="quantity">{{ props.row.quantity }}</q-td>
              <q-td align="right" key="actionDate">{{ props.row.actionDate }}</q-td>
            </q-tr>
          </template>
        </q-table>

        <div class="text-h6 q-pa-md" align="center">
          รวมถอนเงิน
          <span class="text-red">-{{ totalWithdraw }}</span>
        </div>
        <div class="text-h6 q-pa-md" align="center">
          รวมเติมเงิน
          <span class="text-secondary">+{{ totalDeposit}}</span>
        </div>
        <div class="text-h6 q-pa-md" align="center">
          รวมเติมโปร
          <span class="text-secondary">+{{ totalDepositPro}}</span>
        </div>
        <div class="text-h6 q-pa-md" align="center">
          รวมถอนโปร
          <span class="text-red">-{{ totalWithdrawPro}}</span>
        </div>
      </div>
    </q-dialog>

    <!-- ADD USER ICON -->
    <div class="float-right q-mx-sm">
      <q-btn
        @click="showAddUser()"
        size="20px"
        flat
        icon="fas fa-user-plus"
        color="purple"
        label="เพิ่มลูกค้า"
      ></q-btn>
    </div>
    <!-- DATA TABLE -->
    <div class="q-pa-md" style="margin-top:70px">
      <div class="text-h5 q-pb-md" align="center">รายชื่อลูกค้า</div>

      <!-- DATA TABLE -->
      <q-table
        :filter="filter"
        :pagination.sync="pagination"
        separator="cell"
        :data="customers"
        :columns="columns"
        row-key="key"
      >
        <template v-slot:top-right>
          <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="name" align="center">{{ props.row.name }} {{ props.row.surname }}</q-td>
            <q-td key="username" align="center">{{ props.row.username }}</q-td>

            <q-td key="money" align="right">{{ props.row.money | numeral('0,0') }}</q-td>
            <q-td key="promoney" align="right">{{ props.row.promoney | numeral('0,0') }}</q-td>
            <q-td key="proMoney" align="right">
              <span v-if="props.row.proMoney">{{ props.row.proMoney | numeral('0,0') }}</span>
              <span v-else>-</span>
            </q-td>
            <q-td key="topup" align="center">
              <q-btn
                icon="fas fa-wallet"
                class="q-mr-sm bg-primary text-white"
                @click="showTopUp(props.row.__index )"
              ></q-btn>
            </q-td>
            <q-td key="withdraw" align="center">
              <q-btn
                @click="showWithdraw(props.row.__index )"
                icon="fas fa-hand-holding-usd"
                class="bg-secondary text-white q-mr-sm"
              ></q-btn>
            </q-td>
            <q-td key="edit" align="center">
              <q-btn @click="editUser(props.row.__index )" icon="fas fa-user-alt" color="amber-10"></q-btn>
            </q-td>
            <q-td key="account" align="center">
              <q-btn
                @click="showCustomerAccountList(props.row.__index)"
                icon="fas fa-file-invoice-dollar"
                color="amber-10"
              ></q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router";
var numeral = require("numeral");
export default {
  data() {
    return {
      monthOptions: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
      yearOptions: [2019, 2020, 2021],
      totalWithdraw: 0,
      totalDeposit: 0,
      totalWithdrawPro: 0,
      totalDepositPro: 0,
      showCustomerBankAccount: false,
      summaryMonth: new Date().getMonth() + 1,
      summaryYear: new Date().getFullYear(),
      disableWithdraw: false,
      disableAddUser: false,
      disableTopup: false,
      filter: "",
      pagination: { rowsPerPage: 30 },
      accountColumns: [
        {
          name: "type",
          label: "ประเภท",
          field: "type"
        },
        {
          name: "quantity",
          label: "จำนวนเงิน",
          field: "quantity"
        },
        {
          name: "actionDate",
          label: "วันที่ดำเนินการ",
          field: "actionDate"
        }
      ],
      columns: [
        {
          name: "name",
          label: "ชื่อ - สกุล",
          align: "center",
          field: "name"
        },
        {
          name: "username",
          label: "Username",
          align: "center",
          field: "username"
        },
        {
          name: "money",
          label: "ยอดเงิน",
          align: "center"
        },
        {
          name: "promoney",
          label: "เงินโปร",
          align: "center"
        },
        {
          name: "proMoney",
          label: "ยอดเงินค่าแนะนำ",
          align: "center"
        },
        {
          name: "topup",
          label: "เติมเงิน",
          align: "center",
          style: "width:50px"
        },
        {
          name: "withdraw",
          label: "ถอนเงิน",
          align: "center",
          style: "width:50px"
        },
        {
          name: "edit",
          label: "ข้อมูล",
          align: "center",
          style: "width:50px"
        },
        {
          name: "account",
          label: "รายการบัญชี",
          align: "center",
          style: "width:50px"
        }
      ],
      customers: [],
      showAddUserPopup: false,
      isShowTopUp: false,
      isShowWithDraw: false,
      userObj: {
        name: "",
        surname: "",
        username: "",
        money: 0,
        bank: "ธนาคารไทยพาณิชย์",
        bankAccount: "",
        advisor: "",
        percent: 0
      },
      isAddUser: true,
      currentIndex: null,
      bankOptions: [
        "ธนาคารกรุงเทพ",
        "ธนาคารกสิกรไทย",
        "ธนาคารกรุงไทย",
        "ธนาคารทหารไทย",
        "ธนาคารไทยพาณิชย์",
        "ธนาคารกรุศรีอยุธยา",
        "ธนาคารธนชาต",
        "ธนาคารทิสโก้",
        "ธนาคารออมสิน"
      ],
      topUpMoney: 0,
      topUpMode: "",
      withDrawMoney: 0,
      withDrawMode: "",
      currentDate:
        new Date().getDate() +
        "/" +
        Number(new Date().getMonth() + 1) +
        "/" +
        new Date().getFullYear() +
        " " +
        new Date().getHours() +
        ":" +
        new Date().getMinutes(),
      date: new Date().getDate(),
      month: new Date().getMonth() + 1,
      year: new Date().getFullYear(),
      customerAccountList: []
    };
  },
  methods: {
    // bank account list
    showCustomerAccountList(index) {
      (this.totalWithdraw = 0),
        (this.totalDeposit = 0),
        (this.totalWithdrawPro = 0),
        (this.totalDepositPro = 0),
        (this.currentIndex = index);
      this.$q.loading.show({ delay: 400 });
      db.collection("Systemlog")
        .where("username", "==", this.customers[index].username)
        .where("month", "==", Number(this.summaryMonth))
        .where("year", "==", Number(this.summaryYear))
        .onSnapshot(doc => {
          let temp = [];
          doc.forEach(element => {
            temp.push(element.data());
            if (element.data().type == "เติมเงิน") {
              this.totalDeposit += element.data().quantity;
            } else if (element.data().type == "ถอนเงิน") {
              this.totalWithdraw += element.data().quantity;
            } else if (element.data().type == "เติมโปร") {
              this.totalDepositPro += element.data().quantity;
            } else if (element.data().type == "ถอนโปร") {
              this.totalWithdrawPro += element.data().quantity;
            }
          });
          temp.sort((a, b) => {
            return b.time - a.time;
          });
          this.customerAccountList = temp;
          this.$q.loading.hide();
          this.showCustomerBankAccount = true;
        });
    },
    loadAccountList() {
      this.$q.loading.show({ delay: 400 });
      (this.totalWithdraw = 0),
        (this.totalDeposit = 0),
        (this.totalWithdrawPro = 0),
        (this.totalDepositPro = 0),
        db
          .collection("Systemlog")
          .where("username", "==", this.customers[this.currentIndex].username)
          .where("month", "==", Number(this.summaryMonth))
          .where("year", "==", Number(this.summaryYear))
          .onSnapshot(doc => {
            let temp = [];
            doc.forEach(element => {
              temp.push(element.data());
              if (element.data().type == "เติมเงิน") {
                this.totalDeposit += element.data().quantity;
              } else if (element.data().type == "ถอนเงิน") {
                this.totalWithdraw += element.data().quantity;
              } else if (element.data().type == "เติมโปร") {
                this.totalDepositPro += element.data().quantity;
              } else if (element.data().type == "ถอนโปร") {
                this.totalWithdrawPro += element.data().quantity;
              }
            });
            temp.sort((a, b) => {
              return b.time - a.time;
            });
            this.customerAccountList = temp;
            this.$q.loading.hide();
          });
    },
    // ถอนเงิน
    withdraw() {
      // 0 ถอนเงิน 1 ถอนโปร
      this.disableWithdraw = true;
      let newMoney;
      let withdrawType;
      let moneyProperty;
      if (this.withDrawMode == 0) {
        withdrawType = "ถอนเงิน";
        moneyProperty = "money";
        newMoney =
          Number(this.customers[this.currentIndex].money) - this.withDrawMoney;
      } else {
        withdrawType = "ถอนโปร";
        moneyProperty = "promoney";
        newMoney =
          Number(this.customers[this.currentIndex].promoney) -
          this.withDrawMoney;
      }
      this.$q.loading.show({ delay: 400 });

      // if (newMoney < 0) {
      //   // ไม่มีเงินพอให้ถอน
      //   this.$q.loading.hide();
      //   this.$q.dialog({
      //     title: "แจ้งเตือน",
      //     message: "ยอดเงินไม่พอให้ถอน",
      //     dark: true
      //   });
      //   this.disableWithdraw = false;
      // } else {
      db.collection("Customer")
        .doc(this.customers[this.currentIndex].key)
        .update({
          [moneyProperty]: newMoney
        })
        .then(res => {
          db.collection("Systemlog")
            .add({
              username: this.customers[this.currentIndex].username,
              type: withdrawType,
              quantity: this.withDrawMoney,
              actionDate: this.currentDate,
              date: this.date,
              month: this.month,
              year: this.year,
              mark: false,
              userMaker: this.$q.localStorage.getItem("userData").username,
              time: new Date().getTime()
            })
            .then(res2 => {
              this.disableWithdraw = false;
              this.$q.loading.hide();
              this.isShowWithDraw = false;
              this.$q.notify({
                message: "ถอนเงินสำเร็จ",
                position: "top",
                color: "green"
              });
            });
        });
      // }
    },
    // เติมเงิน
    topUp() {
      this.$q.loading.show({ delay: 400 });
      if (this.topUpMoney > 0 && this.topUpMode != "") {
        // mode 0 เติมเงินปกติ mode 1 เติมเงินโปร
        this.disableTopup = true;
        let topUpType;
        let moneyProperty;
        let newMoney;
        if (this.topUpMode == 0) {
          topUpType = "เติมเงิน";
          moneyProperty = "money";
          newMoney =
            Number(this.customers[this.currentIndex].money) + this.topUpMoney;
        } else {
          topUpType = "เติมโปร";
          moneyProperty = "promoney";
          newMoney =
            Number(this.customers[this.currentIndex].promoney) +
            this.topUpMoney;
        }
        // เช็คว่ามี การแบ่ง % ให้กับผู้แนะนำหรือไม่
        db.collection("Customer")
          .doc(this.customers[this.currentIndex].key)
          .get()
          .then(doc => {
            if (doc.data().advisor) {
              let advisorPercent = doc.data().percent;
              let addToAdvisor =
                (Number(this.topUpMoney) * Number(advisorPercent)) / 100;
              this.$q.loading.show({ delay: 400 });
              db.collection("Customer")
                .doc(this.customers[this.currentIndex].key)
                .update({
                  [moneyProperty]: newMoney
                })
                .then(res => {
                  this.$q.loading.show({ delay: 400 });
                  db.collection("Systemlog")
                    .add({
                      username: this.customers[this.currentIndex].username,
                      type: topUpType,
                      quantity: this.topUpMoney,
                      actionDate: this.currentDate,
                      date: this.date,
                      month: this.month,
                      year: this.year,
                      mark: false,
                      userMaker: this.$q.localStorage.getItem("userData")
                        .username,
                      time: new Date().getTime()
                    })
                    .then(res2 => {
                      this.$q.loading.show({ delay: 400 });
                      // ADD PERCENT TO ADVISOR
                      db.collection("Customer")
                        .where("username", "==", doc.data().advisor)
                        .get()
                        .then(add => {
                          this.$q.loading.show({ delay: 400 });
                          let advisorId = add.docs[0].id;
                          db.collection("Customer")
                            .doc(advisorId)
                            .get()
                            .then(addvi => {
                              this.$q.loading.show({ delay: 400 });
                              // proMoney คือเงิน % ที่ได้รับจาก ลูกข่าย
                              if (addvi.data().proMoney) {
                                let newAddvi =
                                  addvi.data().proMoney + addToAdvisor;
                                db.collection("Customer")
                                  .doc(advisorId)
                                  .update({ proMoney: newAddvi })
                                  .then(resF => {
                                    this.isShowTopUp = false;
                                    this.$q.notify({
                                      message: "เติมเงินเข้าสู่ระบบสำเร็จ",
                                      position: "top",
                                      color: "green"
                                    });
                                    this.$q.loading.hide();
                                  });
                              } else {
                                db.collection("Customer")
                                  .doc(advisorId)
                                  .update({ proMoney: addToAdvisor })
                                  .then(resF => {
                                    this.isShowTopUp = false;
                                    this.$q.notify({
                                      message: "เติมเงินเข้าสู่ระบบสำเร็จ",
                                      position: "top",
                                      color: "green"
                                    });
                                    this.$q.loading.hide();
                                  });
                              }
                            });
                        });
                    });
                });
            } else {
              // console.log("ไม่มีผู้แนะนำ");
              db.collection("Customer")
                .doc(this.customers[this.currentIndex].key)
                .update({
                  [moneyProperty]: newMoney
                })
                .then(res => {
                  this.$q.loading.show({ delay: 400 });
                  db.collection("Systemlog")
                    .add({
                      username: this.customers[this.currentIndex].username,
                      type: topUpType,
                      quantity: this.topUpMoney,
                      actionDate: this.currentDate,
                      date: this.date,
                      month: this.month,
                      year: this.year,
                      mark: false,
                      userMaker: this.$q.localStorage.getItem("userData")
                        .username,
                      time: new Date().getTime()
                    })
                    .then(res2 => {
                      this.$q.loading.hide();
                      this.isShowTopUp = false;
                      this.$q.notify({
                        message: "เติมเงินเข้าสู่ระบบสำเร็จ",
                        position: "top",
                        color: "green"
                      });
                      this.$q.loading.hide();
                    });
                });
            }
          });
      } else {
        this.$q.notify({
          message: "กรุณาตรวจสอบข้อมูลจำนวนเงิน / ประเภทการเติม",
          position: "top",
          color: "red"
        });
        this.$q.loading.hide();
      }
    },
    cancelTopUp() {
      this.isShowTopUp = false;
      this.topUpMoney = 0;
    },
    cancelWithdraw() {
      this.isShowWithDraw = false;
      this.withDrawMoney = 0;
    },
    showTopUp(index) {
      this.topUpMode = "";
      this.disableTopup = false;
      this.topUpMoney = 0;
      this.isShowTopUp = true;
      this.currentIndex = index;
    },
    showWithdraw(index) {
      this.withDrawMode = "";
      this.disableWithdraw = false;
      this.withDrawMoney = 0;
      this.isShowWithDraw = true;
      this.currentIndex = index;
    },
    showAddUser() {
      this.isAddUser = true;
      this.disableAddUser = false;
      this.showAddUserPopup = true;
      this.userObj = {
        name: "",
        surname: "",
        username: "",
        money: "0",
        bank: "ธนาคารไทยพาณิชย์",
        bankAccount: "",
        advisor: "",
        percent: 0
      };
    },
    addUser() {
      this.disableAddUser = true;
      this.$refs.name.validate();
      this.$refs.surname.validate();
      this.$refs.username.validate();
      this.$refs.money.validate();
      this.$refs.bankaccount.validate();
      if (
        this.$refs.name.hasError ||
        this.$refs.surname.hasError ||
        this.$refs.username.hasError ||
        this.$refs.bankaccount.hasError
      ) {
        this.$q.notify({
          message: "กรุณากรอกข้อมูลให้ถูกต้อง",
          color: "red",
          position: "top"
        });
        this.disableAddUser = false;
      } else {
        this.$q.loading.show({ delay: 400 });
        if (this.isAddUser == true) {
          db.collection("Customer")
            .where("username", "==", this.userObj.username)
            .get()
            .then(doc => {
              if (doc.size) {
                // กรณีมี Username อยู่แล้ว
                this.$q.dialog({
                  dark: true,
                  title: "แจ้งเตือน",
                  message: "มี Username นี้อยู่ในระบบแล้ว"
                });
                this.disableAddUser = false;
              } else {
                this.$q.loading.show({ delay: 400 });
                this.userObj.promoney = 0;
                // กรณียังไม่เคยมี Username นี้
                if (this.userObj.advisor.length) {
                  db.collection("Customer")
                    .where("username", "==", this.userObj.advisor)
                    .get()
                    .then(data => {
                      this.$q.loading.show({ delay: 400 });
                      if (!data.empty) {
                        db.collection("Customer")
                          .add(this.userObj)
                          .then(res => {
                            this.showAddUserPopup = false;
                          });
                      } else {
                        this.$q.dialog({
                          dark: true,
                          title: "แจ้งเตือน",
                          message: "ไม่พบ Username ของผู้แนะนำในระบบ"
                        });
                        this.disableAddUser = false;
                        this.$q.loading.hide();
                      }
                    });
                } else {
                  db.collection("Customer")
                    .add(this.userObj)
                    .then(res => {
                      this.showAddUserPopup = false;
                      this.$q.loading.hide();
                    });
                }
              }
            });
        } else {
          if (this.userObj.advisor.length) {
            db.collection("Customer")
              .where("username", "==", this.userObj.advisor)
              .get()
              .then(data => {
                if (!data.empty) {
                  db.collection("Customer")
                    .doc(this.customers[this.currentIndex].key)
                    .set(this.userObj)
                    .then(res => {
                      this.showAddUserPopup = false;
                      this.$q.notify({
                        message: "แก้ไขลูกค้าสำเร็จ",
                        color: "green",
                        position: "top"
                      });
                      this.$q.loading.hide();
                    });
                } else {
                  this.$q.loading.hide();
                  this.$q.dialog({
                    dark: true,
                    title: "แจ้งเตือน",
                    message: "ไม่พบ Username ของผู้แนะนำในระบบ"
                  });
                  this.disableAddUser = false;
                }
              });
          } else {
            db.collection("Customer")
              .doc(this.customers[this.currentIndex].key)
              .set(this.userObj)
              .then(res => {
                this.showAddUserPopup = false;
                this.$q.notify({
                  message: "แก้ไขลูกค้าสำเร็จ",
                  color: "green",
                  position: "top"
                });
                this.$q.loading.hide();
              });
          }
        }
      }
    },
    calcelAddUser() {
      this.isAddUser = true;
      this.showAddUserPopup = false;
    },
    loadCustomer() {
      this.$q.loading.show({ delay: 400 });
      db.collection("Customer")
        .orderBy("name")
        .onSnapshot(doc => {
          let customerData = [];
          doc.forEach(element => {
            let data = {
              key: element.id
            };
            let dataFinal = { ...data, ...element.data() };
            customerData.push(dataFinal);
          });
          this.customers = customerData;
          this.$q.loading.hide();
        });
    },
    editUser(index) {
      this.disableAddUser = false;
      this.currentIndex = index;
      let coppyObj = { ...this.customers[index] };
      this.userObj = coppyObj;
      this.showAddUserPopup = true;
      this.isAddUser = false;

      console.log(this.customers[this.currentIndex].username);
    },
    deleteUser() {
      let currentUserKey = this.customers[this.currentIndex].key;
      this.$q
        .dialog({
          title: "แจ้งเตือน",
          message: "คุณต้องการลบข้อมูลลูกค้าใช่หรือไม่",
          dark: true,
          cancel: true
        })
        .onOk(() => {
          this.disableAddUser = true;
          this.$q.loading.show({ delay: 400 });
          db.collection("Customer")
            .doc(currentUserKey)
            .delete()
            .then(res => {
              this.$q.notify({
                message: "ลบข้อมูลลูกค้าสำเร็จ",
                color: "green",
                position: "top"
              });
              this.showAddUserPopup = false;

              this.$q.loading.hide();
            });
        });
    },
    checkVersion() {
      db.collection("version")
        .doc("version")
        .get()
        .then(doc => {
          if (doc.data().version != this.appVersion) {
            window.location.reload(true);
          } else {
            this.loadCustomer();
          }
        });
    }
  },
  mounted() {
    this.checkVersion();
  }
};
</script>
