<template>
  <div class="flex flex-center bg-login container-login">
    <div class="row full-width justify-center q-px-md">
      <div
        class="bg-grey-2 justify-center col-md-3 col-sm-6 col-xs-12 q-px-xl q-py-lg row shadow-10"
        style="border-radius:15px"
      >
        <div class="text-h5 col-12 q-pb-md" align="center">Login</div>
        <!-- Username TextBox -->
        <div class="col-12">
          <q-input filled v-model="username" label="Username">
            <template v-slot:prepend>
              <q-icon name="fas fa-user-alt" />
            </template>
          </q-input>
        </div>
        <!-- Password TextBox -->
        <div class="col-12 q-pt-md">
          <q-input filled v-model="password" label="Password" :type="isPwd ? 'password' : 'text'">
            <template v-slot:prepend>
              <q-icon name="fas fa-lock" />
            </template>
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
        <!-- Login Button -->
        <div class="col-12 q-pt-md" align="center">
          <q-btn
            label="login"
            @click="login()"
            class="bg-appbar text-white text-body1"
            style="width:90%"
          ></q-btn>
        </div>
        <div align="right" class="col-12 q-pt-md">Version {{ this.appVersion }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      username: "",
      password: "",
      isPwd: true
    };
  },
  methods: {
    login() {
      this.$q.loading.show({ delay: 400 });
      db.collection("User")
        .where("username", "==", this.username)
        .where("password", "==", this.password)
        .get()
        .then(doc => {
          this.$q.loading.hide();
          if (doc.size) {
            // กรณี Username Password ถูกต้อง
            this.$q.localStorage.set("userData", doc.docs[0].data());
            this.$q.localStorage.set("userKey", doc.docs[0].id);
            this.$router.push("/customermain");
          } else {
            // กรณี Username Or Password ผิด
            this.$q.dialog({
              title: "แจ้งเตือน",
              message: "ไม่พบผู้ใช้งานนี้ในระบบ"
            });
          }
        });

      // this.$router.push("/customermain");
    }
  }
};
</script>

<style>
</style>