<template>
  <q-page class="q-pa-md">
    <div class="text-h5" align="center">สรุปเติมเงิน - ถอนเงิน</div>
    <div class="row justify-center q-mt-md">
      <div class="col-md-8 col-xs-12">
        <div class="row justify-center items-center">
          <div class="col-md-5 col-xs-12 bg-grey-2" align="center">
            <div class="text-h6">วันเริ่มต้น</div>
            <q-date v-model="dateForm" minimal />
          </div>
          <div class="col-md-2 col-xs-12 q-pa-md row" align="center">
            <div class="col-12">ถึง</div>
          </div>
          <div class="col-md-5 col-xs-12 bg-grey-2" align="center">
            <div class="text-h6">วันสิ้นสุด</div>
            <q-date v-model="dateTo" minimal />
          </div>
        </div>
      </div>
    </div>
    <div align="center" class="q-pa-md">
      <q-btn label="คำนวณ" @click="summary()" class="bg-appbar text-white" style="width:180px"></q-btn>
    </div>

    <div align="center">
      <q-toolbar style="width:90%">
        <q-toolbar-title>
          เติมเงิน
          <span class="text-secondary">+ {{ totalDeposit| numeral('0,0') }} บาท</span>
        </q-toolbar-title>
      </q-toolbar>
      <q-toolbar style="width:90%">
        <q-toolbar-title>
          ถอนเงิน
          <span class="text-amber-10">- {{ totalWithdraw| numeral('0,0') }} บาท</span>
        </q-toolbar-title>
      </q-toolbar>
      <q-toolbar style="width:90%">
        <q-toolbar-title>
          เติมโปร
          <span class="text-secondary">+ {{ totalDeposit| numeral('0,0') }} บาท</span>
        </q-toolbar-title>
      </q-toolbar>
      <q-toolbar style="width:90%">
        <q-toolbar-title>
          ถอนโปร
          <span class="text-amber-10">- {{ totalWithdrawPro| numeral('0,0') }} บาท</span>
        </q-toolbar-title>
      </q-toolbar>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      dateForm: "",
      dateTo: "",
      totalWithdraw: 0,
      totalDeposit: 0,
      totalWithdrawPro: 0,
      totalDepositPro: 0
    };
  },
  methods: {
    // Y M D
    summary() {
      this.totalDeposit = 0;
      this.totalWithdraw = 0;
      this.$q.loading.show({ delay: 400 });
      let dateFormConvert = this.dateForm.split("/");
      let dateFrom = Number(dateFormConvert[2]);
      let monthFrom = Number(dateFormConvert[1]);
      let yearFrom = Number(dateFormConvert[0]);

      let dateToConvert = this.dateTo.split("/");
      let dateTo = Number(dateToConvert[2]);
      let monthTo = Number(dateToConvert[1]);
      let yearTo = Number(dateToConvert[0]);

      if (dateTo < dateFrom || monthTo < monthFrom) {
        this.$q.loading.hide();
        this.$q.dialog({
          dark: true,
          title: "แจ้งเตือน",
          message: "ไม่สามารถเลือกวันสิ้นสุด น้อยกว่าวันเริ่มต้นได้"
        });
        return;
      }

      db.collection("Systemlog")
        .where("date", ">=", dateFrom)
        .where("date", "<=", dateTo)
        .get()
        .then(data => {
          data.forEach(element => {
            if (
              element.data().month >= monthFrom &&
              element.data().month <= monthTo &&
              element.data().year >= yearFrom &&
              element.data().year <= yearTo
            ) {
              if (element.data().type == "ถอนเงิน") {
                this.totalWithdraw += element.data().quantity;
              } else if (element.data().type == "เติมเงิน") {
                this.totalDeposit += element.data().quantity;
              } else if (element.data().type == "เติมโปร") {
                this.totalDepositPro += element.data().quantity;
              } else if (element.data().type == "ถอนโปร") {
                this.totalWithdrawPro += element.data().quantity;
              }
            }
          });
          this.$q.loading.hide();
        });
    }
  },
  mounted() {
    if (this.$q.localStorage.getItem("userData").permission != "Admin") {
      this.$router.push("/");
    }
  }
};
</script>

<style>
</style>