<template>
  <q-page class="q-pa-md">
    <div class="float-right">
      <q-btn icon="fas fa-eraser" label="เคลียร์ทั้งหมด" @click="clearAll()"></q-btn>
    </div>
    <div class="text-h5" align="center">บันทึกระบบ</div>
    <div class="row justify-center items-center q-mt-md">
      <div class="col-md-6 col-xs-12">
        <div
          class="text-body1 q-pa-md q-mb-sm shadow-1 row justify-between"
          v-for="(item,index) in logs"
          :key="index"
        >
          <div class="col-10">
            Username : {{ item.username }} ทำรายการ{{ item.type }}
            <span
              class="text-red"
              v-if="item.type == 'ถอนเงิน' || item.type =='ถอนโปร'"
            >-{{ item.quantity }}</span>
            <span class="text-secondary" v-else>+{{ item.quantity }}</span>
            บาท
            {{ item.actionDate }}
            <br />
            ดำเนินการโดย {{ item.userMaker}}
          </div>
          <div class="col" align="right">
            <q-btn flat icon="fas fa-eraser" @click="clear(item.key)" stack label="เคลียร์"></q-btn>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      logs: [],
      startIndex: 0,
      endIndex: 30,
      current: 1
    };
  },
  methods: {
    loadLog() {
      db.collection("Systemlog")
        .where("mark", "==", false)
        .onSnapshot(doc => {
          let tempData = [];
          doc.forEach(element => {
            let data = {
              key: element.id
            };
            let dataFinal = { ...data, ...element.data() };
            tempData.push(dataFinal);
          });
          tempData.sort((a, b) => {
            return b.time - a.time;
          });
          this.logs = tempData;
        });
    },
    clear(key) {
      db.collection("Systemlog")
        .doc(key)
        .update({ mark: true });
    },
    clearAll() {
      this.$q.loading.show({ delay: 400 });
      db.collection("Systemlog")
        .where("mark", "==", false)
        .get()
        .then(doc => {
          doc.forEach(element => {
            db.collection("Systemlog")
              .doc(element.id)
              .update({ mark: true });
          });
          this.$q.loading.hide();
        });
    }
  },
  mounted() {
    this.loadLog();
    if (this.$q.localStorage.getItem("userData").permission != "Admin") {
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>