<template>
  <q-page class="q-pa-md">
    <q-dialog v-model="showAddUserPopup" persistent class="bg-red absolute-center">
      <div class="bg-white">
        <div class="text-h5 bg-appbar text-white" align="center">
          <span v-if="isAddUser">เพิ่มผู้ใช้งาน</span>
          <span v-else>แก้ไขผู้ใช้งาน</span>
        </div>
        <div class="row q-pa-md justify-center">
          <div class="col-12 row">
            <!-- Display Delete Button If in Edit Mode -->
            <div class="col-12 q-pa-sm" align="right" v-if="!isAddUser">
              <q-btn @click="deleteUser()" flat icon="fas fa-trash" color="red" label="ลบข้อมูล"></q-btn>
            </div>
            <!-- Name -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                :rules="[val => !!val || 'กรุณากรอกข้อมูล']"
                label="ชื่อ"
                v-model="userObj.name"
                filled
                ref="name"
              ></q-input>
            </div>
            <!-- Surname -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                :rules="[val => !!val || 'กรุณากรอกข้อมูล']"
                label="นามสกุล"
                v-model="userObj.surname"
                filled
                ref="surname"
              ></q-input>
            </div>
            <!-- Username -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                :rules="[val => val.length > 3 || 'อย่างน้อย 4 ตัว']"
                label="Username"
                v-model="userObj.username"
                filled
                ref="username"
              ></q-input>
            </div>
            <!-- Password -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-input
                :rules="[val => val.length > 3 || 'อย่างน้อย 4 ตัว']"
                label="Password"
                v-model="userObj.password"
                filled
                ref="password"
              ></q-input>
            </div>
            <!-- Permission -->
            <div class="col-md-6 col-xs-12 q-pa-sm">
              <q-select
                :options="permissionOptions"
                label="Permission"
                v-model="userObj.permission"
                filled
              ></q-select>
            </div>
          </div>
          <div class="col-12 row">
            <!-- Cancle Button -->
            <div class="col-6 q-pt-md" align="center">
              <q-btn
                :disable="disableAddUser"
                @click="calcelAddUser()"
                label="ยกเลิก"
                class="bg-cancle text-white"
                style="width:80%"
              ></q-btn>
            </div>
            <!-- Confirm Button -->
            <div class="col-6 q-pt-md" align="center">
              <q-btn
                :disable="disableAddUser"
                @click="addUser()"
                label="บันทึก"
                class="bg-appbar text-white"
                style="width:80%"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </q-dialog>
    <!-- ADD USER ICON -->
    <div class="float-right q-mx-sm">
      <q-btn
        @click="showAddUser()"
        size="20px"
        flat
        icon="fas fa-user-plus"
        color="purple"
        label="เพิ่มผู้ใช้งาน"
      ></q-btn>
    </div>

    <div class="q-pa-md" style="margin-top:70px">
      <div class="text-h5" align="center">รายชื่อผู้ใช้งานระบบ</div>
      <div class="q-pt-lg">
        <div class="row justify-center">
          <q-toolbar
            class="q-mt-md bg-white col-md-8 col-xs-12 shadow-1"
            v-for="(item,index) in users"
            :key="index"
          >
            <q-toolbar-title>{{ item.name }} {{ item.surname }}</q-toolbar-title>
            <q-space />
            <q-btn @click="editUser(index)" icon="fas fa-user-cog" flat></q-btn>
          </q-toolbar>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      disableAddUser: false,
      users: [],
      showAddUserPopup: false,
      userObj: {
        name: "",
        surname: "",
        username: "",
        password: "",
        permission: "พนักงานทั่วไป"
      },
      permissionOptions: ["Admin", "พนักงานทั่วไป"],
      isAddUser: true,
      currentIndex: null
    };
  },
  methods: {
    showAddUser() {
      this.disableAddUser = false;
      this.showAddUserPopup = true;
      this.userObj = {
        name: "",
        surname: "",
        username: "",
        password: "",
        permission: "พนักงานทั่วไป"
      };
    },
    addUser() {
      this.disableAddUser = true;
      this.$refs.name.validate();
      this.$refs.surname.validate();
      this.$refs.username.validate();
      this.$refs.password.validate();
      if (
        this.$refs.name.hasError ||
        this.$refs.surname.hasError ||
        this.$refs.username.hasError ||
        this.$refs.password.hasError
      ) {
        this.$q.notify({
          message: "กรุณากรอกข้อมูลให้ถูกต้อง",
          color: "red",
          position: "top"
        });
      } else {
        this.$q.loading.show({ delay: 400 });
        if (this.isAddUser == true) {
          db.collection("User")
            .where("username", "==", this.userObj.username)
            .get()
            .then(doc => {
              if (doc.size) {
                // กรณีมี Username อยู่แล้ว
                this.$q.dialog({
                  dark: true,
                  title: "แจ้งเตือน",
                  message: "มี Username นี้อยู่ในระบบแล้ว"
                });
                this.disableAddUser = false;
                this.$q.loading.hide();
              } else {
                // กรณียังไม่เคยมี Username นี้
                db.collection("User")
                  .add(this.userObj)
                  .then(res => {
                    this.userObj = {};
                    this.userObj.permission = "พนักงานทั่วไป";
                    this.showAddUserPopup = false;
                    this.$q.loading.hide();
                    this.disableAddUser = false;
                  });
              }
            });
        } else {
          db.collection("User")
            .doc(this.users[this.currentIndex].key)
            .set(this.userObj)
            .then(res => {
              this.userObj = {};
              this.userObj.permission = "พนักงานทั่วไป";
              this.showAddUserPopup = false;
              this.disableAddUser = false;
              this.$q.loading.hide();
            });
        }
      }
    },
    calcelAddUser() {
      this.disableAddUser = false;
      this.isAddUser = true;
      this.showAddUserPopup = false;
    },
    loadUser() {
      this.$q.loading.show({ delay: 400 });
      db.collection("User").onSnapshot(doc => {
        let userData = [];
        doc.forEach(element => {
          let data = {
            key: element.id
          };
          let dataFinal = { ...data, ...element.data() };
          userData.push(dataFinal);
        });
        this.users = userData;
        this.$q.loading.hide();
      });
    },
    editUser(index) {
      this.disableAddUser = false;
      let coppyObj = { ...this.users[index] };
      this.userObj = coppyObj;
      this.showAddUserPopup = true;
      this.isAddUser = false;
      this.currentIndex = index;
    },
    deleteUser() {
      this.disableAddUser = true;
      let currentUserKey = this.users[this.currentIndex].key;
      this.$q
        .dialog({
          title: "แจ้งเตือน",
          message: "คุณต้องการลบผู้ใช้งานใช่หรือไม่",
          dark: true,
          cancel: true
        })
        .onOk(() => {
          this.$q.loading.show({ delay: 400 });
          db.collection("User")
            .doc(currentUserKey)
            .delete()
            .then(res => {
              this.$q.notify({
                message: "ลบผู้ใช้งานสำเร็จ",
                color: "green",
                position: "top"
              });
              this.userObj = {};
              this.userObj.permission = "พนักงานทั่วไป";
              this.showAddUserPopup = false;
              this.$q.loading.hide();
              this.isAddUser = true;
              this.disableAddUser = false;
            });
        });
    }
  },
  mounted() {
    this.loadUser();
    if (this.$q.localStorage.getItem("userData").permission != "Admin") {
      this.$router.push("/");
    }
  }
};
</script>
