/* app global css */
.brx {
  border: 1px solid red
}

.bg-drawer {
  background-image: linear-gradient(to bottom, #2d19af, #351bb4, #3d1db9, #451fbf, #4c21c4, #5323c9, #5925cd, #6027d2, #6829d7, #702bdd, #772de2, #7f2fe7);
}

.bg-appbar {
  background-image: linear-gradient(to right, #2d19af, #351bb4, #3d1db9, #451fbf, #4c21c4, #5323c9, #5925cd, #6027d2, #6829d7, #702bdd, #772de2, #7f2fe7);
}

.shadow-drawer {
  box-shadow: 2px 2px 2px #2A0F4D
}

.bg-login {
  background-image: linear-gradient(to right top, #2d19af, #351bb4, #3d1db9, #451fbf, #4c21c4, #5323c9, #5925cd, #6027d2, #6829d7, #702bdd, #772de2, #7f2fe7);
}

.container-login {
  height: 100vh;
  width: 100%;
}

.bg-my-purple {
  background: #700AFF
}

.bg-cancle {
  background-image: linear-gradient(to right bottom, #f81b38, #fb005e, #ed008b, #c500bc, #7012eb);
}
