<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-appbar">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>{{ title }}</q-toolbar-title>

        <div>
          <q-btn icon="fas fa-sign-out-alt" @click="logout()" flat></q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above content-class="bg-drawer shadow-drawer">
      <q-list class="text-white q-pa-md" style="padding-top:100px">
        <q-item
          clickable
          to="/customermain"
          @click="title='ข้อมูลผู้ใช้งาน'"
          active-class="text-cyan-12"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-user-alt" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ข้อมูลผู้ใช้งาน</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-show="this.$q.localStorage.getItem('userData').permission == 'Admin'"
          clickable
          to="/systemlog"
          active-class="text-cyan-12"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-clipboard-list" />
          </q-item-section>
          <q-item-section>
            <q-item-label>บันทึกระบบ</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-show="this.$q.localStorage.getItem('userData').permission == 'Admin'"
          @click="title='ผู้ใช้งานระบบ'"
          clickable
          active-class="text-cyan-12"
          to="/usermain"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-users" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ผู้ใช้งานระบบ</q-item-label>
          </q-item-section>
        </q-item>
        <!-- เมนู สรุป -->
        <q-item
          v-show="this.$q.localStorage.getItem('userData').permission == 'Admin'"
          @click="title='สรุป'"
          clickable
          active-class="text-cyan-12"
          to="/summary"
        >
          <q-item-section avatar>
            <q-icon name="fas fa-money-check-alt" />
          </q-item-section>
          <q-item-section>
            <q-item-label>สรุป</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>

      <q-img class="absolute-top" style="height: 100px">
        <div class="bg-transparent row items-center full-width fit">
          <div class="col-3" align="center">
            <q-avatar size="56px" class="q-mb-sm">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
            </q-avatar>
          </div>
          <div class="text-weight-bold col">{{ this.$q.localStorage.getItem("userData").username }}</div>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      leftDrawerOpen: false,
      title: "",
      userData: ""
    };
  },
  methods: {
    logout() {
      this.$q.localStorage.clear();
      this.$router.push("/");
    }
  }
};
</script>
